:root {
  --bg-color: rgba(122, 177, 206, 0.8);
  --text-color-1: rgba( 98,  53, 104, 1);   
  --text-color-2: rgba(106, 120,   8, 1);   
}

html, body{
  height: 100%;
  width: 100%;
}


.navbar {
  background: transparent;
  border: none;
  min-height: 40px;
  height: 50px;
}

nav .navbar{
  margin-bottom: 0;
  border: none;
}

nav #navbar, nav .navbar-header {
  /*background-color: var(--bg-color);*/
}

.navbar-brand{
  padding: 0 15px;
}

.phones{
  float: left;
  width: auto ;
  height: 50px;
  padding: 5px 0;
  /*margin-right: 15px;*/
  /*background-color: var(--text-color-1);*/

}



.phones a{
  color: #333;
}
.phones a:hover{
  color : #777;
  text-decoration: none;
}


.contact:first-child{
  margin-left: 0;
}

.phones img{
  display: inline-block; 
  position: relative;
  right: 0;
  top: -1px;
  height: 15px;
}


@media screen and (max-width: 768px) {
  .phones{
    /*display: inline-block;*/
    float: left;
    height: 40px;
   
  }
  .navbar-brand {
    display: block;
    padding-left: 5px;
    height: 40px;
    /*float: right;*/
  }

  .navbar-brand img{
    height: 40px;
  }

  .navbar{
    background: white;
    height: 40px;
  }

  .navbar-header{
    background-color:  whtie;
    height: 40px;
  }

  .navbar-toggle{
    margin: 6px 15px 6px 0;
    padding: 6px 7px;
  }

  .phones{
    padding: 0;
  }git


}











header {
  position: relative;
  width: 100%;

  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../resourses/bg2.jpg');
  text-align: center;
  /*color: var(--bg-color);*/

}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: var(--text-color-1);
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: var(--text-color-2);
  font-size: 16px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*.navbar-default{
  background-color: rgba(248, 248, 248, 0.3);
}*/





#mapid{
  height: 300px;
}