.home{
	/* background-color: red; */
	background: url("../resourses/bg.jpg") no-repeat center center;
  /*background-color:	green;*/
 
  background-size: cover;
}


.service{
	/* background-color: red; */
	background: url("../resourses/feature.jpg") no-repeat center center;
  /*background-color:	green;*/
 
  background-size: cover;
}